<button {{action "updateParams" testFilter}}>Test</button>
<table class="ui celled table">
  <thead>
  <tr>
    <th>{{#sort-link sort "title"}}Title{{/sort-link}}</th>
    <th>{{#sort-link sort "parts_no"}}# Parts{{/sort-link}}</th>
    <th>{{#sort-link sort "voices"}}Voices{{/sort-link}}</th>
    <th>{{#sort-link sort "composer"}}Composer{{/sort-link}}</th>
    <th>{{#sort-link sort "book.title"}}Book{{/sort-link}}</th>
    <th>Tags</th>
    <th>Languages</th>
  </tr>
  </thead>
  {{#each sortedModel as |song|}}
    <tr>
      <td>{{filter-link filter "title" song.title}}</td>
      <td>{{filter-link filter "parts_no" song.parts_no}}</td>
      <td>{{filter-link filter "voices" song.voices}}</td>
      <td>{{filter-link filter "composser" song.composer}}</td>
      <td>{{filter-link filter "book.title" song.book.title}}
        {{#if song.book.editor}}
          <span class="book editor">{{filter-link filter "book.editor" song.book.editor}}</span>
        {{/if}}
        {{#if song.book.year}}
          <span class="book year">{{filter-link filter "book.year" song.book.year}}</span>
        {{/if}}
      </td>
      <td>
        <ul class="csv">
        {{#each song.tags as |tag|}}
          {{#if (eq tag.category "subject")}}
            <li>{{filter-link filter "subject" tag.title}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </td>
      <td>
        <ul class="csv">
        {{#each song.tags as |tag|}}
          {{#if (eq tag.category "language")}}
            <li>{{filter-link filter "language" tag.title}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </td>
    </tr>
  {{/each}}
</table>
