{{advanced-search labels=fieldLabels pool=searchPool param=filter onChange=(action "updateParams")}}

<table class="ui celled table">
  <thead>
  <tr>
    <th>{{#sort-link sort "title"}}Title{{/sort-link}}</th>
    <th>{{#sort-link sort "parts_no"}}No. Parts{{/sort-link}}</th>
    <th>{{#sort-link sort "voices"}}Voices{{/sort-link}}</th>
    <th>{{#sort-link sort "composer"}}Composer{{/sort-link}}</th>
    <th>{{#sort-link sort "book.title"}}Book Title{{/sort-link}}</th>
    <th>{{#sort-link sort "book.editor"}}Book Editor{{/sort-link}}</th>
    <th>{{#sort-link sort "book.year"}}Book Year{{/sort-link}}</th>
    <th>Tags</th>
    <th>Languages</th>
  </tr>
  </thead>
  {{#each sortedModel as |song|}}
    <tr>
      <td>{{song.title}}</td>
      <td>{{song.parts_no}}</td>
      <td>{{song.voices}}</td>
      <td>{{song.composer}}</td>
      <td>{{song.book.title}}</td>
      <td>{{song.book.editor}}</td>
      <td>{{song.book.year}}</td>
      <td>
        <ul class="csv">
        {{#each song.tags as |tag|}}
          {{#if (eq tag.category "tag")}}
            <li>{{tag.title}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </td>
      <td>
        <ul class="csv">
        {{#each song.tags as |tag|}}
          {{#if (eq tag.category "language")}}
            <li>{{tag.title}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </td>
    </tr>
  {{/each}}
</table>
