{{#ui-search source=searchPool onSelect=(action "applyFilter") }}
  <input class="prompt" type="text" placeholder="search songs">
  <div class="results"></div>
{{/ui-search}}

<table class="ui celled table">
  <thead>
  <tr>
    <th>{{#sort-link sort "title"}}Title{{/sort-link}}</th>
    <th>{{#sort-link sort "parts_no"}}# Parts{{/sort-link}}</th>
    <th>{{#sort-link sort "voices"}}Voices{{/sort-link}}</th>
    <th>{{#sort-link sort "composer"}}Composer{{/sort-link}}</th>
    <th>{{#sort-link sort "book.title"}}Book{{/sort-link}}</th>
    <th>Tags</th>
    <th>Languages</th>
  </tr>
  </thead>
  {{#each sortedModel as |song|}}
    <tr>
      <td>{{song.title}}</td>
      <td>{{song.parts_no}}</td>
      <td>{{song.voices}}</td>
      <td>{{song.composer}}</td>
      <td>{{song.book.title}}
        {{#if song.book.editor}}
          <span class="book editor">{{song.book.editor}}</span>
        {{/if}}
        {{#if song.book.year}}
          <span class="book year">{{song.book.year}}</span>
        {{/if}}
      </td>
      <td>
        <ul class="csv">
        {{#each song.tags as |tag|}}
          {{#if (eq tag.category "tag")}}
            <li>{{tag.title}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </td>
      <td>
        <ul class="csv">
        {{#each song.tags as |tag|}}
          {{#if (eq tag.category "language")}}
            <li>{{tag.title}}</li>
          {{/if}}
        {{/each}}
        </ul>
      </td>
    </tr>
  {{/each}}
</table>
